/*
 *= require jquery.layout
 *= require normalize
*/

#editor_panel
{height:260px;
}
#page_layout_tree_inner
{
  height:200px;
  overflow: auto;
}
.param_value_editor
{
  height:200px;
  overflow: auto;  
}
.editor-header
{
  background-color: #B6B6B6;
}

.fl{ float:left;}
.fr{ float:right;}
.clear-block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear-block {
  display: block;
}

.block
{
    border: solid 1px gray;
    padding: 2px;
    margin: 2px;
}

ul{ list-style:none; margin: 0; padding: 0;}

.menu li{
  padding:5px;
  float:left;
}
ul.tabs{list-style:none; margin:0;padding:0;}
.tabs li{
  padding:5px;
    float:left;
}

span.option_item
{
  display:inline-block;
  width:170px;
}

div.pv{
    padding:2px;
    
}
span.pv-name
{
  display:inline-block;
  width:150px;    
}

input.pv-psv, select.pv-psv
{
  display:inline-block;
  width:120px;    
}
input.pv-pv
{
  display:inline-block;
  width:120px;    
}
#section_select_dialog ul
{
  list-style:none; margin: 0; padding: 0;
}
#section_select_dialog ul.titles li
{
  white-space:nowrap;
}

#section_select_dialog li.selected
{
  background-color: silver;
}
#section_select_dialog .details .selected
{
  display:block;
}
#section_select_dialog .details div
{
  display:none;
}

#editors label, #menu_and_template label
{
  margin:0;
  padding:0;
  display:inline;
}
#publish ul
{
  margin:0;
  padding:0;
}

a.selected
{
  background-color: #22A7F2;
  color: white;
  font-weight: bold;
}

.sg_cover /* for interface.js*/
{
  position:absolute !important;
  z-index:999999 !important;
  background:white !important;
  margin:0px !important;
  padding:0px !important;
  display:block;
  float:none !important;
  border:0 !important;
  font-style:none !important;
  outline:0 !important;
  vertical-align:baseline !important;
  text-align:left !important;
}
.sg_selected{
  background-color:#0F0 !important;
  background-image:none !important;
}
.sg_suggested{
  background-color:#FF5 !important;
  background-image:none !important;
}
.sg_border{
  position:absolute !important;
  z-index:999999 !important;
  background:white !important;
  background-color:orange !important;
  margin:0px !important;
  padding:0px !important;
  display:block !important;
  float:none !important;
  border:0 !important;
  font-style:none !important;
  outline:0 !important;
  vertical-align:baseline !important;
  text-align:left !important;
}
.sg_bottom_border{
  font-size:10px !important;
  padding:2px 0px 2px 5px !important;
}
.sg_border_red{
  background-color:#6495ED !important;
  filter: alpha(opacity=50); /* internet explorer */
  -khtml-opacity: 0.5;      /* khtml, old safari */
  -moz-opacity: 0.5;       /* mozilla, netscape */
  opacity: 0.5;           /* fx, safari, opera */
}
.sg_highlighted{
}
.sg_rejected{
  background-color:#F00 !important;
  background-image:none !important;
}