<table>
  <tr>
    <th> default index page </th>
    <td><%=  grouped_collection_select("website", "index_page", @menu_roots, :descendants, "name", "id", "name")%>  
    </td>    
  </tr>

</table>

