<%
#local_params: editor, param_values
  @param_category_ids = []
%>
<div id="editor_<%=editor.id%>" class="block param_value_editor">
<%=render :partial=>"param_value", :collection=>param_values %>
</div>
